/* your css here */

/* color scheme */
:root {
    --header-bg-color: #ff80a2;
    --header-txt-color: rgb(255, 255, 255);
    --header-highlight-color: rgb(255, 255, 255);
}

.contact .navbar-inverse .navbar-nav > li > a[href="contact.html"], 
.about .navbar-inverse .navbar-nav > li > a[href="about.html"],
.index .navbar-inverse a.navbar-brand[href="."]
{
    color:var(--header-highlight-color);
    background-color: inherit;
}

main {
    min-height: calc(100vh - 8em);
    margin-top: 40px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 40px;
}

row{
    
}

h1{
    text-align: center;
    color: #ff80a2;
    font-size: 60px;
    font-family: "Georgia", "Didot", "Times New Roman", Times, serif;
}

h2{
    text-align: center;
    padding: 35px 20px 20px 20px;
    font-size: 45px;
    font-family: "Tahoma";
}
p{
    text-align: center;
    font-size: 29px;
    vertical-align: middle;
    padding: 40px 6px 3px 0px;
    font-family: "Tahoma";
}

button {
    background-color: #ff80a2;
    border:bisque;
    text-align: center;
    padding: 6px 25px;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    font-family: "Tahoma";
}

input{
    border: 3px solid black;
    padding: 3px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-family: "Tahoma";
    border-radius: 6px;
}
::placeholder {  
    font-size: 20px;
    font-family: "Tahoma";
  }

.row {
    border: 3px black;
}
  .column {
    float:left;
    width: 50%;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
footer {
    height: 2em;
}

.navbar-inverse{
    color:var(--header-txt-color);
    background-color: var(--header-bg-color);
    font-size: 24px;
    border-color: white;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: inherit;
    border: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 30px 32px;

}

